<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Order details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h2>Order nr <span th:text="${id}"></span> details</h2>
        </div>
    </div>

    <div class="row">
        <div th:if="${order == null}">
            <h3>Order nr <span th:text="${id}"></span> doesn't exist</h3>
        </div>

        <div th:if="${order != null}">
            <div class="col-sm-10">
                <form class="form-horizontal">
                    <div class="form-group">

                        <label class="col-sm-2 control-label">Order Id:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${order.id}">Order Id</p>
                        </div>
                    </div>

                    <div class="form-group" th:if="${order.orderDestination} != null">
                        <label class="col-sm-2 control-label">Destination:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${order.orderDestination.destinationName}">
                                Destination</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Delivery date:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static"
                               th:text="${#temporals.format(order.deliveryDate, 'dd-MM-yyyy')}">Delivery date</p>
                        </div>
                    </div>

                    <div th:if="${order.destinationComment != ''}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Destination changes:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static"
                                   th:text="${order.destinationComment}">Delivery changes</p>
                            </div>
                        </div>
                    </div>


                    <div class="form-group" th:each="status : ${orderstatuses}">

                        <label class="col-sm-2 control-label">Order status date:</label>
                        <div class="col-sm-10">

                            <p class="form-control-static"
                               th:text="${#temporals.format(status.orderStatusDate, 'dd-MM-yyyy HH:mm')}">Order status
                                date</p>

                        </div>

                        <label class="col-sm-2 control-label">Order status:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${status.orderStatus}">Order status</p>
                        </div>

                    </div>


                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <a href="/order/list" class="btn btn-default" style="color:#337ab7">Back to orders list</a>
    </div>


</div>

</body>
</html>
