<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>List destinations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <div style="font-size: 30px">
        <label >Date: </label>
        <label th:text="${#temporals.format(currentdate, 'dd-MM-yyyy')}"> </label>
    </div>

    <div >

       <a href="/order/" class="btn btn-default" style=" text-align:center;margin-bottom:10px;color:#337ab7"><h3 style="margin:0px">Orders list</h3></a>
        <h3 style="display: inline">Destination List</h3>
    </div>

    <div th:if="${#lists.isEmpty(destinations)}">
        <h3>We don't have available destinations</h3>
    </div>

    <div th:if="${not #lists.isEmpty(destinations)}">
        <div>
          <a href="/destinations/add" class="btn btn-default" style="width: 120px;margin-bottom:10px;color:#337ab7">Add destination</a>

        </div>
        <table class="table table-striped">
            <!--            bootstrap class for table-->
            <tr>
                <th>Id
                    <a th:href="@{'/destinations/sort/byid?sortDir='+ ${sortDir}}" class="btn btn-default" style="margin: 5px; padding: 2px; height: 20px;font-size: 13px; text-align: left">⇅</a>
                </th>
                <th >Destination name
                    <a th:href="@{'/destinations/sort/byname?sortDir='+ ${sortDir}}" class="btn btn-default" style="margin: 5px; padding: 2px; height: 20px;font-size: 13px; text-align: left">⇅</a>
                </th>
                <th>Distance
                    <a th:href="@{'/destinations/sort/bydistance?sortDir='+ ${sortDir}}" class="btn btn-default" style="margin: 5px; padding: 2px; height: 20px;font-size: 13px; text-align: left">⇅</a>
                </th>
                <th>View</th>
                <th>Modify</th>
                <th>Delete</th>
            </tr>
            <tr th:each="destination : ${destinations}">
                <td th:text="${destination.id}"></td>
                <td th:text="${destination.destinationName}"></td>
                <td th:text="${destination.distance}"></td>

                <td><a th:href="${'/destinations/' + destination.id}">View</a></td>
                <td><a th:href="${'/destinations/edit/' + destination.id}">Edit</a></td>
                <td><a th:href="${'/destinations/delete/' + destination.id}">Delete</a></td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>