<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <h2>Order nr <span th:text="${id}"></span> details</h2>
    <div>
        <div th:if="${order == null}">
            <h3>Order nr <span th:text="${id}"></span> doesn't exist</h3>
        </div>

        <div th:if="${order != null}">

            <div th:if="${order.orderStatus.name() == 'DELIVERED' or order.orderStatus.name() == 'CANCELED'}">
                <h3>Order nr <span th:text="${id}"></span> is  <span th:text="${order.orderStatus}"></span>, cannot be modified.</h3>
                <div class="row">
                    <button class="btn btn-default"><a href="/order/list">Back to orders list</a></button>
                </div>
            </div>

            <div th:if="${order.orderStatus.name() != 'DELIVERED' and order.orderStatus.name() != 'CANCELED'}">

                <form class="form-horizontal" th:object="${order}" th:action="@{/order}" method="post">

                    <input type="hidden" th:field="*{id}"/>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Destination:</label>
                        <div class="col-sm-4">
                            <select class="form-control" th:field="*{orderDestination}">

                                <option th:each="orderDestination: ${destinations}"
                                        th:text="${orderDestination}" th:value="${orderDestination}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Delivery date:</label>
                        <div class="col-sm-4" >
                                <input type="text" class="form-control" th:field="*{deliveryDate}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Order status:</label>
                        <div class="col-sm-4">
                            <select class="form-control" th:field="*{orderStatus}">

                                <option th:each="orderStatus:${statuses}"
                                        th:text="${orderStatus}" th:value="${orderStatus}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>